/*=============================================================================
Password.Generator Interface
-----------------------------------------------------------------------------*/

.SWUI_PG_Table
{
	width: 100%;
}

.SWUI_PG_Table tbody tr td
{
	padding: 2px 4px 2px 4px;
}

td.SWUI_PG_Index_0
{
	white-space: nowrap;
	text-align: right;
	color: gray;
	background-color: #e0e0e0;
}

td.SWUI_PG_Code_0
{
	white-space: nowrap;
	text-align: right;
	color: gray;
	background-color: #e0e0e0;
}

td.SWUI_PG_Char_0
{
	font-weight: bold;
	text-align: center;
	background-color: #e0e0e0;
}

td.SWUI_PG_Call_0
{
	background-color: #e0e0e0;
	width: 100%;
}

td.SWUI_PG_Index_1
{
	white-space: nowrap;
	text-align: right;
	color: Gray;
}

td.SWUI_PG_Code_1
{
	white-space: nowrap;
	text-align: right;
	color: Gray;
}

td.SWUI_PG_Char_1
{
	text-align: center;
	font-weight: bold;
}

td.SWUI_PG_Call_1
{
	width: 100%;
}


.SWUI_PG_Extra_Char
{
}

.SWUI_PG_Extra_Call
{
	color: purple;
}


.SWUI_PG_Special_Char
{
}

.SWUI_PG_Special_Call
{
	color: #800000;
}

.SWUI_PG_Symbol_Char 
{
}

.SWUI_PG_Symbol_Call
{
	color: #808080;
}

.SWUI_PG_Number_Char
{
}

.SWUI_PG_Number_Call
{
	color: #000080;
}

.SWUI_PG_Braile 
{
}