
ol#qunit-tests
{
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	font-size: smaller;
}
ol#qunit-tests li
{
	padding: 4px 8px 4px 8px;
	border-bottom: 1px solid #fff;
	font-size: small;
	list-style-position: inside;
}
ol#qunit-tests li ol
{
	margin-top: 8px;
	margin-left: 0;
	padding: 2px;
	background-color: #fff;
}
ol#qunit-tests li li
{
	border-bottom: none;
	margin: 8px;
	background-color: #fff;
	list-style-position: inside;
	padding: 2px 2px 2px 8px;
}

ol#qunit-tests li li.pass
{
	border-left: 16px solid #C6E746;
	background-color: #fff;
	color: #5E740B;
}
ol#qunit-tests li li.fail
{
	border-left: 16px solid #EE5757;
	background-color: #fff;
	color: #710909;
}
ol#qunit-tests li.pass
{
	background-color: #D2E0E6;
	color: #528CE0;
}
ol#qunit-tests li.fail
{
	background-color: #EE5757;
	color: #000;
}
ol#qunit-tests li strong
{
	cursor: pointer;
}
h1#qunit-header
{
	background-color: #0d3349;
	margin: 0;
	padding: 8px 0 8px 8px;
	color: #fff;
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
}
h2#qunit-banner
{
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
	height: 4px;
	margin: 0;
	padding: 0;
}
h2#qunit-banner.qunit-pass
{
	background-color: #C6E746;
}
h2#qunit-banner.qunit-fail, #qunit-testrunner-toolbar
{
	background-color: #EE5757;
}
#qunit-testrunner-toolbar
{
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
	padding: 0; /*width:80%;*/
	padding: 0 0 8px 8px;
	font-size: small;
}
h2#qunit-userAgent
{
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
	background-color: #2b81af;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: small;
	padding: 8px 0 8px 8px;
}
p#qunit-testresult
{
	font-family: "Helvetica Neue Light" , "HelveticaNeue-Light" , "Helvetica Neue" , Calibri, Helvetica, Arial;
	margin: 0;
	font-size: small;
	color: #2b81af;
	background-color: #D2E0E6;
	padding: 4px 8px 4px 8px;
}
strong b.fail
{
	color: #710909;
}
strong b.pass
{
	color: #5E740B;
}
