
/* Page Layout. Do not Change! */
html, body, form { height: 100%; width: 100%; padding: 0; margin: 0; }
.BodyStyle { 
	background-image: url("Images/BodyBackground.gif"); 
/*
background-color: #000000;
background-attachment: scroll;
background-origin: padding-box;
background-position-x: left;
background-position-y: bottom;
background-repeat: no-repeat;
background-size: cover;
*/ }
.HeaderLayout { top: 0; left: 0; height: 32px; overflow: hidden; }
.HeaderStyle { background: rgba(0, 0, 0, 0.40);  }
.HeaderBodyLayout { width: 960px; margin: 0 auto; height: 32px; }
.HeaderBodyStyle { background: rgba(0, 0, 0, 0.40); color: #ffffff; }
.ContentLayout {  }
.ContentStyle {  }
.ContentBodyLayout { width: 960px; margin: 0 auto;
	min-height: -webkit-calc(100vh - 32px - 30px ); /* Chrome 19+ */
	min-height: -moz-calc(100vh - 32px - 30px); /* Firefox */
	min-height: -o-calc(100vh - 32px - 30px); /* Opera */
	min-height: calc(100vh - 32px - 30px); /* IE9+ */
}
.ContentBodyStyle { background-color: aliceblue; }
.FooterLayout { height: 30px; overflow:hidden; }
.FooterStyle { background: rgba(0, 0, 0, 0.40); }
.FooterBodyLayout { width: 960px; margin: 0 auto; height: 30px; }
.FooterBodyStyle { background: rgba(0, 0, 0, 0.40); color: #ffffff; }

.AlignMiddle { padding-top: 4px; padding-left: 8px; }

.SWUI_ListViewDialog { padding: 0 !important; top: 0 !important; left: 0 !important; }
